Dockerfile
**/node_modules
**/node_modules/**
docker-compose.yml
docker-compose.dev.yml
docker/.buildx-cache
doc/**
.dockerignore
**/build
**/dist
packages/compiler/test/go/testmain

# committed to repo - see 'git ls-files packages/ohm-js/dist'
!packages/ohm-js/dist
