**/node_modules/**
**/third_party/**
**/testdata/**
**/test/data/**
**/dist/*
*.ohm-bundle.*
ava-ts.config.js
visualizer/assets/**
packages/cli/src/helpers/generateTypes.test.js
packages/wasm/runtime/**
