packages/cli/src/helpers/generateTypes.test.js
dist/

# ohm-js/dist has prebuilt recipes that are committed to the repo.
!packages/ohm-js/dist/
packages/ohm-js/dist
packages/ohm-js/dist/ohm.js
packages/ohm-js/dist/ohm.min.js
packages/ohm-js/dist/ohm-grammar.js.*
packages/ohm-js/dist/*.old
packages/ohm-js/dist/browserify-cache.json
packages/ohm-js/dist/test-typings.js

node_modules
npm-debug.log
yarn-error.log

# IntelliJ files
.idea
*.iml

.eslintcache
*.tsbuildinfo
