.install-timestamp
ohm-js/dist/ohm-grammar.js.*
ohm-js/dist/*.old
ohm-js/dist/browserify-cache.json
ohm-js/dist/test-typings.js
node_modules
npm-debug.log
yarn-error.log

# IntelliJ files
.idea
*.iml
