Alessandro Warth <alexwarth@gmail.com> <awarth@cs-212-98.cs.ucla.edu>
Daniel Tomlinson <DanielTomlinson@me.com>
Jason Merrill <jwmerrill@gmail.com>
Justin Chase <justin.m.chase@gmail.com>
Lionel Landwerlin <llandwerlin@gmail.com> <lionel.g.landwerlin@intel.com>
Marko Röder <m.roeder@photon-software.de>
Meixian Li <lmeixian@gmail.com> <li976@purdue.edu>
Patrick Dubroy <pdubroy@gmail.com>
Stephan Seidt <stephan.seidt@gmail.com>
Tony Garnock-Jones <tonygarnockjones@gmail.com>
Yoshiki Ohshima <Yoshiki.Ohshima@acm.org>
codeZeilen <codeZeilen@users.noreply.github.com>
