Alessandro Warth <alexwarth@gmail.com> <alexwarth@gmail.com>
Alessandro Warth <alexwarth@gmail.com> <awarth@cs-212-98.cs.ucla.edu>
Lionel Landwerlin <llandwerlin@gmail.com> <lionel.g.landwerlin@intel.com>
Marko Röder <m.roeder@photon-software.de>
Meixian Li <lmeixian@gmail.com> <li976@purdue.edu>
Saketh Kasibatla <sake.kasi@gmail.com> <sakekasi@ucla.edu>
