#semanticsContainer .addition {
  display: flex;
  flex: 1;
  height: 21px;
  margin: 10px;
}
#semanticsContainer .addition textarea {
  border: 1px solid gray;
  border-radius: 5px 0 0 5px;
}
#semanticsContainer .addition button {
  border-radius: 0 5px 5px 0;
  border-left: 0;
  background: white;
  outline: none
}

#semanticsContainer .flex-fix {
  overflow: auto;
}
