body {
  font-family: Monaco;
  font-size: 14pt;
}

#input, #arrow {
  font-family: Monaco;
  width: 100%;
  display: block;
  font-size: 14pt;
  outline: none;
  border: none;
}

#input {
  border-bottom: 2px solid slateblue;
  padding: 4pt 0 4pt 4pt;
}

#input.error {
  border-bottom: 2px solid maroon;
}

#arrow {
  color: maroon;
  padding: 0 0 0 4pt;
}

#error {
  position: absolute;
  z-index: 2000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  bottom: 8pt;
  right: 8pt;
  padding: 4pt;
  background: #FDFD96;
  border: 1px solid #ccc;
  border-radius: 2px;
  max-width: 250px;
  box-shadow: 2px 2px 10px 0px #ccc;
  color: #822;
}

#arrow.visible, #error.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 2s, opacity .25s 2s linear;
}

#arrow.hidden, #error.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.1s, opacity 0.1s linear;
}

#value:before, #lisp:before, #tree:before, #twoD:before {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  display: inline-block;
  margin-right: 20pt;
  min-width: 40pt;
  text-align: right;
  vertical-align: top;
  color: lightgray;
}

#value:before { content: 'value '; }
#lisp:before  { content: 'lisp '; }
#tree:before  { content: 'tree '; }
#twoD:before  { content: '2-D '; }

#value, #lisp, #tree, #twoD {
  padding: 8pt 0;
}

#tree * {
  display: inline-block;
  font-size: 18pt;
  margin: 2pt 2pt 0 2pt;
  text-align: center;
  vertical-align: bottom;
}

#tree *:before {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-size: 10pt;
  color: slateblue;
  border-bottom: 1pt solid slateblue;
}

#tree expr:before    { content: 'expr'; }
#tree addExpr:before { content: 'addExpr'; }
#tree plus:before    { content: 'plus'; }
#tree minus:before   { content: 'minus'; }
#tree mulExpr:before { content: 'mulExpr'; }
#tree times:before   { content: 'times'; }
#tree divide:before  { content: 'divide'; }
#tree expExpr:before { content: 'expExpr'; }
#tree power:before   { content: 'power'; }
#tree priExpr:before { content: 'priExpr'; }
#tree paren:before   { content: 'paren'; }
#tree pos:before     { content: 'pos'; }
#tree neg:before     { content: 'neg'; }
#tree ident:before   { content: 'ident'; }
#tree number:before  { content: 'number'; }

#twoD {
  font-family: Times, "Times New Roman", serif;
  font-size: 18pt;
}

#twoD ident {
  font-style: italic;
}

#twoD paren {
  display: inline-block;
  border-image: url('parens.png') 0 93 round stretch;
  border-width: 0 7pt;
  margin: 2px;
}

#twoD power > exponent > paren,
#twoD fraction > numerator > paren,
#twoD fraction > denominator > paren {
  border-image: none;
}

#twoD operator {
  margin: 0 4pt;
}

#twoD fraction {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#twoD numerator {
  display: block;
  border-bottom: 1px solid black;
}

#twoD numerator > * {
  padding: 0 2pt;
}

#twoD denominator {
  display: block;
}

#twoD exponent {
  font-size: 70%;
  vertical-align: text-top;
  line-height: 0;
}

#twoD exponent > * {
  line-height: 100%;
}

